body,h1,h2,h3,h4,h5,h6,p,dl,dd{
	margin: 0;
}
body{
	font-size: 14px;
	color: #333;
	font-family: "微软雅黑";
	min-width: 1090px;
	min-height: 100%;
}
ul,ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
img{
	border: none;
	vertical-align: middle;
}
a{
	text-decoration: none;
	color: #333;
}
a:hover{
	color: #B4A078;
}
input{
	margin: 0;
	padding: 0;
	vertical-align: middle;
	border: 1px solid #ccc;
}
label{
	vertical-align: middle;
}
table{
	border-collapse: collapse;
}
th,td{
	padding: 0;
}

.center{
	width: 1090px;
	margin:0 auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
.scaleImg img{
	transition: 1s ease-out;
	transform: scale(1);
}
.scaleImg:hover img{
	transform: scale(1.2);
}
.original{
	background: #f4f4f4 url(../images/original.png) center no-repeat;
}


/*----------头部----------*/

#head{
	border-bottom: #f3f3f3;
	box-shadow: 0 2px 2px #f3f3f3;
	-webkit-box-shadow: 0 2px 2px #f3f3f3;
	position: relative;
	z-index: 2;
}
#head .head{
	background: #333;
	font: 12px/36px "微软雅黑";
}
#head .left{
	color: #ccc;
} 
#head .head li{
	float: left;
	position: relative;
	z-index: 2;
}
#head .head li a{
	color: #ccc;
	padding: 0 10px;
	border-left: 1px solid #5c5c5c;
}
#head .head li a:hover{
	color: #fff;
}
#head .head li a.noborder{
	border: none;
}
#head .head li .margin{
	margin-right: 10px;
}
#head .customer{
	padding-right: 10px;
	margin-right: 10px;
	background: url(../images/customer_bg1.gif) 68px center no-repeat;
}
#head .customer:hover{
	background: url(../images/customer_bg2.gif) 68px center no-repeat;
}
#head .customer:hover ul{
	display: block;
}
#head .customer ul{
	position: absolute;
	border: 1px solid #ddd;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	background: #fff;
	display: none;
}
#head .customer ul:before,#head .down div:before{
	width: 10px;
	height: 6px;
	display: block;
	content: "";
	background: url(../images/ico_02.png);
	position: absolute;
	margin: auto;
	left: 0;
	top: -6px;
	right: 0;
}
#head .customer ul li{
	float:none;
}
#head .customer ul li a{
	display: block;
	padding: 0;
	border-left: none;
	border-bottom: 1px solid #ddd;
	text-align: center;
	margin: 0 10px;
	color: #999;
}
#head .customer ul li a:hover{
	color: #B4A078;
}
#head .customer .noborder a{
	border-bottom: none;
}
#head .customer .phone{
	background: url(../images/phone_bg1.gif) 62px center no-repeat;
}
#head .customer .phone:hover{
	background: url(../images/phone_bg2.gif) 62px center no-repeat;
}
#head .customer .phone:hover div{
	display: block;
}
#head .customer .phone div{
	position: absolute;
	width: 110px;
	height: 57px;
	right: -110px;
	top: 0;
	line-height: 20px;
	background: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	text-align: center;
	
	display: none;
}
#head .customer .phone div p:nth-child(1){
	font-size: 14px;
	color: #999;
	margin-top: 10px;
}
#head .customer .phone div p:nth-child(2){
	color: #ccc;
	font-size: 12px;
}
#head .down div{
	position: absolute;
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	padding: 10px;
	left: -45px;
	line-height: 20px;
	width: 140px;
	color: #B4A078;
	text-align: center;
	
	display: none;
}
#head .down div span{
	width: 100%;
}
#head .down div img{
	width: 140px;
	display: block;
	margin: 0 auto;
}
#head .down:hover div{
	display: block;
}
#head .head .down a{
	padding-left: 25px;
	
	background: url(../images/ico_01.png) 10px center no-repeat;
}




/*----------搜索----------*/
.search{
	margin: 40px 0;
}
.search .center{
	position: relative;
	height: 60px;
}
.search h1{
	position: absolute;
	left: 50%;
	margin-left: -90px;
}
.search .searchBox{
	float: right;
	height: 25px;
	margin: 16px 40px 0 0;
	font-size: 0;
}
.search .searchBox input{
	width: 250px;
	height: 24px;
	line-height: 24px;
	border: none;
	border-bottom: 1px solid #d8cebc;
	color: #B4A078;
	outline: none;
	font-size: 12px;
}
.search .searchBox a{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/ico_03.gif);
	vertical-align: middle;
}


/*----------导航----------*/
.nav{
	position: relative;
	background: #fff;
}
.nav .center{
	position: relative;
	z-index: 3;
}
.nav .logo,.nav .login{
	display: none;
}
.navbar,.subnav{
	font-size: 0;
	text-align: center;
}
.nav .navbar li,.nav .subnav li{
	display: inline-block;
	font-size: 14px;
	padding: 0 25px;
	height: 50px;
}
.nav .navbar li.separate{
	padding: 0;
	color: #ccc;
}
.nav .navbar li a{
	font-weight: bold;
	padding-bottom: 3px;
}
.nav .navbar>li>a:hover,.nav .navbar li.active a{
	border-bottom: 3px solid #B4A078;
}

/*购物车父级样式*/
.cartWrap{
	position: absolute;
	top: -80px;
	right: 0;
	width: 20px;
	height: 20px;
	background: url(../images/ico_04.gif);
	cursor: pointer;
}
.cartWrap i{
	font: 12px/20px "微软雅黑";
	position: absolute;
	color: #fff;
	background: #d4282d;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 50%;
	top: -12px;
	right: -12px;
}
.cartWrap .cart{
	width: 328px;
	border: 1px solid #b5a176;
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	position: absolute;
	top: 30px;
	right: -22px;
	background: #fff;
	padding-top: 15px;
	
	display: block;
	
	-moz-user-select: none;
	-webkit-user-select: none;
}
.cartWrap .cart:before{
	content: "";
	width: 12px;
	height: 8px;
	display: block;	
	background: url(../images/ico_17.gif);
	position: absolute;
	top: -8px;
	right: 22px;
}
.cartWrap .list{
	height: 244px;
	position: relative;
	overflow: hidden;
}
.cartWrap .list ul{
	padding-left: 15px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: left;
}
.cartWrap .list li{
	padding: 0;
	display: block;
	height: 60px;
	margin-bottom: 10px;
}
.cartWrap .list .img{
	float: left;
}
.cartWrap img{
	width: 60px;
	height: 60px;
	background: #f4f4f4;
}
.cartWrap .message{
	width: 145px;
	float: left;
	padding: 5px 0 5px 10px;
}
.cartWrap .message p:nth-child(1){
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font: 12px/25px "微软雅黑";
}
.cartWrap .message p:nth-child(3){
	color: #c5c5c5;
}
.cartWrap .price{
	float: left;
	width: 55px;
	padding-top: 5px;
	font: 12px/25px "微软雅黑";
	color: #B62628;
}
.cartWrap .close{
	float: left;
	width: 26px;
	font: 16px/25px "微软雅黑";
	padding-top: 5px;
	text-align: center;
}
/*购物车滚动条样式*/
.cartWrap .scrollBar{
	float: right;
	width: 17px;
	height: 244px;
	background: #f1f1f1;
}
.cartWrap .scrollBar span{
	display: block;
	width: 17px;
	height: 17px;
}
.scrollBar .topBtn{
	background: url(../images/topBtn_bg.gif) 0 0;
}
.scrollBar .topBtn:hover{
	background: url(../images/topBtn_bg.gif) 0 -34px;
}
.scrollBar .topBtn:active{
	background: url(../images/topBtn_bg.gif) 0 -51px;
}
.scrollBar .bottomBtn{
	background: url(../images/bottomBtn_bg.gif) 0 0;
}
.scrollBar .bottomBtn:hover{
	background: url(../images/bottomBtn_bg.gif) 0 -34px;
}
.scrollBar .bottomBtn:active{
	background: url(../images/bottomBtn_bg.gif) 0 -51px;
}
.cartWrap .slideWrap{
	height: 210px;
	position: relative;
}
.cartWrap .slide{
	width: 17px;
	height: 50px;
	background: #cecece;
	position: absolute;
	top: 0;
}
.cartWrap .slide:hover{
	background: #a9a9a9;
}
.cartWrap .slide:active{
	background: #787878;
}
.cartWrap .total{
	font: 12px/66px "微软雅黑";
	height: 66px;
	background: #f4f0ea;
}
.cartWrap .total span{
	color: #c04646;
}
.cartWrap .total a{
	display: inline-block;
	width: 110px;
	height: 36px;
	line-height: 36px;
	background: #B4A078;
	color: #fff;
	margin-left: 20px;
	border-radius: 2px;
}
.cartWrap .total a:hover{
	opacity: 0.8;
}

/*弹出导航样式*/
.nav .subnav{
	box-shadow: 0 6px 6px #ececec;
	position: absolute;
	top: 50px;
	width: 100%;
	background: #fff;
	
	opacity: 0;
	transition: 0.3s opacity;
}
.nav .subnav ul{
	display: none;
	padding: 10px 0 20px 0;
}
.nav .subnav img{
	display: block;
	margin: 0 auto 10px;
}
.nav .subnav li{
	font-weight: bold;
	height: auto;
	padding: 0 40px;
}

/*固定导航样式*/
#navFix{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
	box-shadow: 0 2px 3px rgba(0,0,0,.2);
	animation: navMove 0.3s;
}
@keyframes navMove{
	0%{
		top:-60px;
	}
	100%{
		top: 0;
	}
}
#navFix .logo{
	display: block;
	float: left;
	margin: 13px 40px 0 0;
}
#navFix .navbar{
	float: left;
}
#navFix .navbar>li:nth-last-child(1),#navFix .navbar>li:nth-last-child(2),#navFix .navbar>li:nth-last-child(3),#navFix .navbar>li:nth-last-child(4),#navFix .navbar li:nth-last-child(5){
	display: none;
}
#navFix .navbar>li{
	line-height: 60px;
	height: 60px;
	padding: 0 20px;
}
#navFix .login{
	display: block;
	font-size: 14px;
	float: right;
	line-height: 60px;
	margin-left: 60px;
}
#navFix .login a{
	margin-right: 20px;
	font-size: 12px;
	color: #666;
}
#navFix .cartWrap{
	position: relative;
	float: right;
	top: 20px;
}
#navFix .subnav{
}

/*----------底部----------*/
footer{
	text-align: center;
}
footer .message{
	background: #fff;
	padding: 40px 0;
	border-top: 1px solid #e8e8e8;
}
footer .message .center{
	display: flex;
	justify-content: space-between;
}
footer .message .box{
	width: 360px;
}
footer .message .box h4{
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 30px;
}
footer .message .phone{
	font-size: 26px;
}
footer .message .workTime{
	margin: 20px 0 30px;
}
footer .message .btn a{
	display: inline-block;
	width: 100px;
	line-height: 28px;
	border: 1px solid #666;
	font-size: 16px;
	margin: 0 10px;
}
footer .message .btn a:hover{
	color: #fff;
	background: #666;
}
footer .message .box:nth-child(2){
	border-left: 1px solid #191919;
	border-right: 1px solid #191919;
	padding: 0 30px;
	width: 370px;
}
footer .message .box:nth-child(2) p{
	text-align: left;
}
footer .message dl{
	margin-top: 30px;
	line-height: 32px;
}
footer .message dt{
	float: left;
}
footer .message dd{
	float: left;
	margin-left: 18px;
}
footer .message .disC{
	color: #B4A078;
	font-size: 12px;
	margin-top: 5px;
}
footer .foot{
	background: #414141;
}
footer .foot .title{
	color: #fff;
	display: flex;
	height: 51px;
	line-height: 51px;
	padding: 40px 0;
	font-size: 18px;
	border-bottom: 1px solid #4f4f4f;
	justify-content: space-around;
}
footer .foot .title div{
	padding-left: 70px;
}
footer .foot .title div:nth-child(1){
	background: url(../images/ico_08.gif) left no-repeat;
}
footer .foot .title div:nth-child(2){
	background: url(../images/ico_09.gif) left no-repeat;
}
footer .foot .title div:nth-child(3){
	background: url(../images/ico_10.gif) left no-repeat;
}
footer .foot .copy{
	padding: 30px 0;
	color: #999;
	line-height: 20px;
}
footer .foot .copy a{
	color: #999;
}

/*----------底部fix侧边栏----------*/
#sideBar{
	position: fixed;
	width: 60px;
	bottom: 20px;
	right: 1%;
	text-align: center;
	background: #fff;
	z-index: 3;
}
#sideBar .top{
	border: 1px solid #ddd;
	font-size: 12px;
}
#sideBar .top a{
	display: block;
	padding-top: 30px;
	margin: 10px 0;
}
#sideBar .top a:nth-child(1){
	background: url(../images/ico_11.gif) top center no-repeat;
}
#sideBar .top a:nth-child(2){
	background: url(../images/ico_12.gif) top center no-repeat;
}
#sideBar .top a:nth-child(3){
	background: url(../images/ico_13.gif) top center no-repeat;
}
#sideBar .back{
	display: block;
	height: 45px;
	color: #fff;
	padding-top: 20px;
	background: #999 url(../images/ico_14.gif) center 8px no-repeat;
	box-sizing: border-box;
}
#sideBar .back:hover{
	background-color: #B4A078;
}

/*----------面包屑----------*/
#position{
	height: 60px;
	line-height: 60px;
	font-size: 12px;
	color: #999;
}
#position a:hover{
	text-decoration: underline;
	color: #333;
}
