body,h1,h2,h3,h4,h5,h6,p,dl,dd{
	margin: 0;
}
body{
	font-size: 14px;
	color: #333;
	font-family: "微软雅黑";
}
ul,ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
img{
	border: none;
	vertical-align: middle;
}
a{
	text-decoration: none;
	color: #333;
}
a:hover{
	color: #B4A078;
}
input{
	margin: 0;
	padding: 0;
	vertical-align: middle;
	border: 1px solid #ccc;
}
label{
	vertical-align: middle;
}
table{
	border-collapse: collapse;
}
th,td{
	padding: 0;
}

.center{
	width: 1090px;
	margin:0 auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
.scaleImg img{
	transition: 1s ease-out;
	transform: scale(1);
}
.scaleImg:hover img{
	transform: scale(1.2);
}
.original{
	background: #f4f4f4 url(../images/original.png) center no-repeat;
}


/*----------头部----------*/

#head{
	border-bottom: #f3f3f3;
	box-shadow: 0 2px 2px #f3f3f3;
}
#head .head{
	background: #333;
	font: 12px/36px "微软雅黑";
}
#head .left{
	color: #ccc;
} 
#head .head li{
	float: left;
	position: relative;
	z-index: 2;
}
#head .head li a{
	color: #ccc;
	padding: 0 10px;
	border-left: 1px solid #5c5c5c;
}
#head .head li a:hover{
	color: #fff;
}
#head .head li a.noborder{
	border: none;
}
#head .head li .margin{
	margin-right: 10px;
}
#head .customer{
	padding-right: 10px;
	margin-right: 10px;
	background: url(../images/customer_bg1.gif) 68px center no-repeat;
}
#head .customer:hover{
	background: url(../images/customer_bg2.gif) 68px center no-repeat;
}
#head .customer:hover ul{
	display: block;
}
#head .customer ul{
	position: absolute;
	border: 1px solid #ddd;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	background: #fff;
	display: none;
}
#head .customer ul:before,#head .down div:before{
	width: 10px;
	height: 6px;
	display: block;
	content: "";
	background: url(../images/ico_02.png);
	position: absolute;
	margin: auto;
	left: 0;
	top: -6px;
	right: 0;
}
#head .customer ul li{
	float:none;
}
#head .customer ul li a{
	display: block;
	padding: 0;
	border-left: none;
	border-bottom: 1px solid #ddd;
	text-align: center;
	margin: 0 10px;
	color: #999;
}
#head .customer ul li a:hover{
	color: #B4A078;
}
#head .customer .noborder a{
	border-bottom: none;
}
#head .customer .phone{
	background: url(../images/phone_bg1.gif) 62px center no-repeat;
}
#head .customer .phone:hover{
	background: url(../images/phone_bg2.gif) 62px center no-repeat;
}
#head .customer .phone:hover div{
	display: block;
}
#head .customer .phone div{
	position: absolute;
	width: 110px;
	height: 57px;
	right: -110px;
	top: 0;
	line-height: 20px;
	background: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	text-align: center;
	
	display: none;
}
#head .customer .phone div p:nth-child(1){
	font-size: 14px;
	color: #999;
	margin-top: 10px;
}
#head .customer .phone div p:nth-child(2){
	color: #ccc;
	font-size: 12px;
}
#head .down div{
	position: absolute;
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	padding: 10px;
	left: -45px;
	line-height: 20px;
	color: #B4A078;
	display: none;
}
#head .down:hover div{
	display: block;
}
#head .head .down a{
	padding-left: 25px;
	
	background: url(../images/ico_01.png) 10px center no-repeat;
}




/*----------搜索----------*/
.search{
	margin: 40px 0;
}
.search .center{
	position: relative;
	height: 60px;
}
.search h1{
	position: absolute;
	left: 50%;
	margin-left: -90px;
}
.search .searchBox{
	float: right;
	height: 25px;
	margin: 16px 40px 0 0;
	font-size: 0;
}
.search .searchBox input{
	width: 250px;
	height: 24px;
	line-height: 24px;
	border: none;
	border-bottom: 1px solid #d8cebc;
	color: #B4A078;
	outline: none;
	font-size: 12px;
}
.search .searchBox a{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/ico_03.gif);
	vertical-align: middle;
}




/*----------导航----------*/
.nav{
	position: relative;
	background: #fff;
}
.nav .center{
	position: relative;
}
.nav .logo,.nav .login{
	display: none;
}
.navbar,.subnav{
	font-size: 0;
	text-align: center;
}
.nav .navbar li,.nav .subnav li{
	display: inline-block;
	font-size: 14px;
	padding: 0 25px;
	height: 50px;
}
.nav .navbar li.separate{
	padding: 0;
	color: #ccc;
}
.nav .navbar li a{
	font-weight: bold;
	padding-bottom: 3px;
}
.nav .navbar li a:hover,.nav .navbar li.active a{
	border-bottom: 3px solid #B4A078;
}

/*购物车父级样式*/
.cartWrap{
	position: absolute;
	top: -80px;
	right: 0;
	width: 20px;
	height: 20px;
	background: url(../images/ico_04.gif);
	cursor: pointer;
}
.cartWrap i{
	font: 12px/20px "微软雅黑";
	position: absolute;
	color: #fff;
	background: #d4282d;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 50%;
	top: -12px;
	right: -12px;
}
.cartWrap .cart{
	display: none;
}

/*弹出导航样式*/
.nav .subnav{
	box-shadow: 0 6px 6px #ececec;
	padding-bottom: 20px;
	display: -none;
}
.nav .subnav ul{
	display: none;
}
.nav .subnav img{
	display: block;
	margin: 0 auto 10px;
}
.nav .subnav li{
	font-weight: bold;
	height: auto;
	padding: 0 30px;
}
