/*----------banner----------*/
.bannerPic{
	height: 420px;
	position: relative;
	overflow: hidden;
}
.bannerPic .carouselImgCon{
	position: relative;
}
.bannerPic .carouselImgCon a{
	position: absolute;
	left: 50%;
	margin-left: -960px;
}
.bannerPic .carouselImgCon img{
	opacity: 0;
}
.prev,.next{
	width: 50px;
	height: 50px;
	text-align: center;
	background: #D0C4AF;
	color: #FFF;
	font-size: 40px;
	line-height: 45px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	cursor: pointer;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
.bannerPic .prev{
	left: 20%;
}
.bannerPic .next{
	right: 20%;
}
.bannerPic .prev:hover,.bannerPic .next:hover{
	background: #b19e7a;
}
.bannerPic .circle{
	height: 30px;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.bannerPic .circle span{
	display: inline-block;
	width: 8px;
	height: 8px;
	background: #fff;
	border-radius: 50%;
	margin: 0 10px;
	border: 1px solid #d6d5d5;
	cursor: pointer;
}
.bannerPic .circle span.active,.bannerPic .circle span:hover{
	background: #a7936b;
	width: 4px;
	height: 4px;
	border: 3px solid #dfcead;
	transform: scale(2);
}

/*----------品牌制造商----------*/
#brand{
	width: 1090px;
	margin: 30px auto;
}
 .brandHead{
	margin-bottom: 30px;
}
.brandHead h3{
	font-size: 28px;
	color: #666;
	margin-right: 20px;
	display: inline-block;
}
.brandHead .right{
	padding-top: 18px;
}
#brand .bImg{
	display: flex;
	justify-content: space-between;
}
#brand .bBox{
	width: 357px;
	height: 320px;
	overflow: hidden;
	text-align: center;
	position: relative;
}
#brand .bBox h4{
	font-size: 24px;
	color: #666;
	font-weight: normal;
	z-index: 2;
	position: relative;
	margin-top: 50px;
}
#brand .bBox span{
	color: #666;
	border-top: 1px solid #666;
	display: inline-block;
	padding-top: 20px;
	margin-top: 20px;
	z-index: 2;
	position: relative;
}
#brand .bBox img{
	position: absolute;	
	top: 0;
	left: 0;
	width: 357px;
	height: 320px;
}
#brand .bBox div{
	position: relative;
	overflow: hidden;
	text-align: left;
	padding-left: 20px;
	width: 357px;
	height: 155px;
}
#brand .bBox:last-child{
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
#brand .bBox:last-child img{
	height: 155px;
}
#brand .bBox:last-child h4{
	margin-top: 25px;
}
#brand .bBox:last-child span{
	margin-top: 10px;
	padding-top: 10px;
}

/*----------新品首发----------*/
#new{
	width: 1090px;
	margin: 30px auto;
}